@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

html{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;
    background: aquamarine;
    color: black;
    text-align: center;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-container{
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 20px;
    background-color:white;
    box-shadow: 0px 20px 200px 10px;
  
}

.quote-text{
    font-size: 2.75rem;
    padding-bottom: 20px;
}

.long-quote{
    font-size: 2rem;
}

.fa-quote-left{
    font-size: 2.0rem; 
}

.quote-author {
    margin-top: 15px;
    font-size: 1.7rem;
    font-weight: 400;
    font-style: italic;

}

.button-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
button {
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    border: none;
    background:rgb(42, 42, 42);
    color: white;
    outline: none;
    border-radius: 10px;
    padding: 0.5rem 1.8rem;
    box-shadow: 0 0.3rem  rgba(42, 42, 42, 0.507);

}
.twitter-button{
    color: rgb(6, 226, 255);
}
.instagram-button{
    color: rgb(176, 6, 255);
}
button:hover{
    filter: brightness(150%);
    
}
button:active{
    transform: translate(0,0.3rem);
    box-shadow: 0 0.0rem white;
}



/* Media Query: Tablet or smaller */
@media screen and (max-width: 1000px){
    .quote-container {
        margin: auto 30px;
    }
    .quote-text{
        font-size: 1.8rem;
    }
    button{
        font-size: 1.0rem;
        height: 2.5rem;  
    }
}