@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;
    background: whitesmoke;
}

h1{
    text-align: center;
    margin: 20px 0px;
    font-family: Pacifico, sans-serif;
    font-size: 40px;
}
.loader{
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    background: rgba(255, 255, 255, 0.876);
}
.loader img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.image-container{
    margin: 20px 20%;
    background:white;
    border-radius: 10px;
}
.image-details{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.image-details h5{
    padding-top: 30px;
    text-decoration: none;
}
.image-container img{
    width: 100%;
    margin-top: -9px;
    margin-bottom: 9px;
}
@media screen and (max-width:700px){
    .image-container{
        margin:20px 10px;
        scrollbar-width: none;
    }
}